body{
background-color: linen;
}
.main{
    background-color: #F0D9FF;
    color: #8F4068;
    text-align: center;
    border-style: groove;
    border-color: black;
}
.container {
    position: relative;

}
.text{
    text-decoration: underline;
    text-decoration-color: #9E7777;
}
.text-block {
    position: absolute;
    bottom: 10%;
    left: 20%;
    border-style: double;
    border-color: black; 
    color: #1572A1;

    padding-left: 20px;
    padding-right: 20px;
}

.list{
    color: #716F81;
}
.box-1{
    float: left;
    width: 20%;
    padding: 70px;
}


.navbar {
    overflow: hidden;
    background-color: #ddd;
}
.navbar a {
    float: left;
    display: block;
    color: #981414;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  /* Links - change color on hover */
.navbar a:hover {
    background-color: lightgrey;
    color: black;
}

.liststyle {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
}
  

.sidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  .sidenav a:hover {
    left: 0;
  }
  
  #clothing1 {
    top: 150px;
    background-color: #FFA1CF;
  }
  #clothing2 {
    top: 250px;
    background-color: #FFA1CF;
  }

  #clothing3 {
    top: 330px;
    background-color: #FFA1CF;
  }

  #clothing4 {
    top: 430px;
    background-color: #FFA1CF;
  }

  #clothing5 {
    top: 530px;
    background-color: #FFA1CF;
  }

  #clothing6 {
    top: 600px;
    background-color: #FFA1CF;
  }

  #clothing7 {
    top: 680px;
    background-color: #FFA1CF;
  }

  #clothing8 {
    top: 750px;
    background-color: #FFA1CF;
  }
